<!DOCTYPE html>
<html>
<head>
	<title>Portal BI</title>
	<style>
	    html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   
   width: 100%;
   height: 100%;
}
	</style>
</head>
<body style="background-color: white;">
<%= image_tag("/logo_tel.png", :style => "position: absolute;top: 0px;left: 0px;width: 100%;height: 200px;") %>
<%= image_tag("/company_logo.png", :style => "position: absolute;top: 50px;left: 15%;width: 15%;") %>
<div style="position: absolute; top: 200px;width: 100%;height: 50px; background-color : #47d1d1"></div>
<div style="position: absolute;top: 250px;width: 20%;bottom: 0px;"><img style="height: 100%;width: 100%;" src="/login_cuadro.png" ></div>
<%= form_for :clientes, :html => { :style => 'position:absolute;top:50px;right:80px;' }, :url => { :controller => "welcome", :action => "index"} do |f| %>
  <%= f.submit "Inicio"  %>
 <% end %>
  <p style="position: absolute;top: 350px;left: 40%;">Caso cerrado con exito!<%= @areavp %></p>
  

</body>
</html>