<!DOCTYPE html>
<html>
<head>
	<title>Portal BI</title>
	<style>
	    html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   
   width: 100%;
   height: 100%;
}
	</style>
</head>
<body style="background-color: white;">

<%= image_tag("/logo_tel.png", :style => "position: absolute;top: 0px;left: 0px;width: 100%;height: 160px;") %>
<%= image_tag("/company_logo.png", :style => "position: absolute;top: 50px;left: 15%;width: 15%;") %>
<div style="position: absolute; top: 160px;width: 100%;height: 20px; background-color : black"></div>
<div style="position: absolute;top: 180px;width: 270px;height: 900px;"><img style="height: 100%;width: 100%;" src="/login_cuadro.png" ></div>
<%= form_for :clientes, :html => { :style => 'position:absolute;right:0px;' }, :url => { :controller => "welcome", :action => "mineria"} do |f| %>
  <%= f.submit "Cerrar Sesion" , :class => "button" %>
<% end %>
<%= form_for :client, :html => { :style => 'position:absolute;top:180px;' }, :url => { :controller => "welcome", :action => "crear_caso"} do |f| %>
  <%= f.submit "Crear Caso" , :class => "button" %>
 <% end %>
 <%= form_for :clientes, :html => { :style => 'position:absolute;top:230px;' }, :url => { :controller => "welcome", :action => "ver_casos_cliente"} do |f| %>
  <%= f.submit "Mis Casos" , :class => "button" %>
 <% end %>
 <%= form_for :clientes, :html => { :style => 'position:absolute;top:280px;' }, :url => { :controller => "welcome", :action => "opciones_cliente"} do |f| %>
  <%= f.submit "Opciones" , :class => "button" %>
 <% end %>
 
</table>
</body>
</html>