<!DOCTYPE html>
<html>
<head>
	<title>Portal BI</title>
	<style>
	    html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   
   width: 100%;
   height: 100%;
}
	</style>
</head>
<body style="background-color: white;">
<%= image_tag("/logo_tel.png", :style => "position: absolute;top: 0px;left: 0px;width: 100%;height: 160px;") %>
<%= image_tag("/company_logo.png", :style => "position: absolute;top: 50px;left: 15%;width: 15%;") %>
<div style="position: absolute; top: 160px;width: 100%;height: 20px; background-color : black"></div>
<div style="position: absolute;top: 180px;width: 270px;height: 900px;"><img style="height: 100%;width: 100%;" src="/login_cuadro.png" ></div>
<%= form_for :clientes, :html => { :style => 'position:absolute;right:0px;' }, :url => { :controller => "welcome", :action => "mineria"} do |f| %>
  <%= f.submit "Cerrar Sesion" , :class => "button" %>
<% end %>
 <%= form_for :clientes, :html => { :style => 'position:absolute;top:180px;' }, :url => { :controller => "welcome", :action => "crear_usuario_vista"} do |f| %>
  <%= f.submit "Crear Usuario" , :class => "button" %>
<% end %>
<%= form_for :clientes, :html => { :style => 'position:absolute;top:230px;' }, :url => { :controller => "welcome", :action => "admin_casos"} do |f| %>
  <%= f.submit "Ver Casos" , :class => "button" %>
 <% end %>
 <%= form_for :clientes, :html => { :style => 'position:absolute;top:280px;' }, :url => { :controller => "welcome", :action => "ver_usuarios"} do |f| %>
  <%= f.submit "Ver Usuarios" , :class => "button" %>
 <% end %>
 <%= form_for :client, :html => { :style => 'position:absolute;top:200px;left:25%;' }, :url => { :controller => "welcome", :action => "crear_usuario"}, :method => 'get' do |f| %>
  <b style="font-size: 1.3em;">Datos del usuario</b><br><br>
  <b style="color: red"> El nombre de usuario o correo electronico ya existen</b><br>
  Usuario<br><%= f.text_field :usuario, :required => true %><br>
  Password<br><%= f.text_field :password, :required => true %><br>
  Tipo<br><%= f.select :tipo, ['cliente', 'consultor','consultor-lider','admin']%><br>
  Area VP<br><%= f.select :area, ['area1', 'area2','area3'] %><br>
  GG<br><%= f.select :gg, ['area1', 'area2','area3'] %><br>
  Gerencia<br><%= f.select :gerencia, ['area1', 'area2','area3'] %><br />
  Nombre<br><%= f.text_field :nombre, :required => true %><br />
  Cargo<br><%= f.select :cargo, ['area1', 'area2','area3'] %><br />
  IDOP<br><%= f.text_field :idop, :required => true %><br>
  Email<br><%= f.text_field :email, :required => true %><br />
  Confirmar email<br><%= f.text_field :email2, :required => true %><br /><br>
  
  <%= f.submit "Crear Usuario"  %>
 <% end %>
</body>
</html>