<!DOCTYPE html>
<html>
<head>
  <title>Portal BI</title>
  <style>
      html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   
   width: 100%;
   height: 100%;
}
table{
   border-collapse: collapse;
   width: 65%;
}
th {
   background-color: blue;
   color: white;
   border: 1px solid black;
   width: 50%;
}
td {
   text-align: center;
   border: 1px solid black;
}


  </style>
</head>
<body style="background-color: white;">
<%= image_tag("/logo_tel.png", :style => "position: absolute;top: 0px;left: 0px;width: 100%;height: 200px;") %>
<%= image_tag("/company_logo.png", :style => "position: absolute;top: 50px;left: 15%;width: 15%;") %>
<div style="position: absolute; top: 200px;width: 100%;height: 50px; background-color : #47d1d1"></div>
<div style="position: absolute;top: 250px;width: 270px;bottom: 0px;"><img style="height: 800px;width: 100%;" src="/login_cuadro.png" ></div>
<%= form_for :clientes, :html => { :style => 'position:absolute;right:0px;' }, :url => { :controller => "welcome", :action => "index"} do |f| %>
  <%= f.submit "Cerrar Sesion" , :class => "button" %>
<% end %>
<p style="position: absolute;top: 250px;left: 25%;font-size: 1.3em;"><b>Detalles del caso</b></p>

<% @data.each do |data| %>  
  <table style="position: absolute;top: 300px;left: 25%;">
      <tr>
         <th>Datos del caso</th>
         <th>Indicadores</th> 
      </tr>
      <tr>
         <td>Titulo del Requerimiento: <%= @data[0][25]  %><br>
             Fecha requerida: <%= @data[0][4]  %><br>
             Estatus: <%= @data[0][5]  %><br>
             Tipo de archivo: <%= @data[0][13]  %>
         </td>
         <td>Periodo: <%= @data[0][10]  %><br>
             Parque: <%= @data[0][6]  %><br>
             Altas: <%= @data[0][7]  %><br>
             ARPU: <%= @data[0][8]  %><br>
             Recargas: <%= @data[0][9]  %><br>
             Act_tabla: <%= @data[0][14]  %><br>
             TLV: <%= @data[0][15]  %>
         </td>
      </tr>
  </table>
  <table style="position: absolute;top: 460px;left: 25%;">
    <tr>
      <th>Filtros</th>
      <th>Linea de negocio</th>
    </tr>
    <tr>
     <td>Smartphone : <%= @data[0][16]%><br>Prepago/Postpago: <%= @data[0][17]%><br>Otro: <%= @data[0][30] %></td>
     <td>
             Movil: <%= @data[0][18]  %><br>
             TV: <%= @data[0][19]  %><br>
             Fijo: <%= @data[0][20]  %><br>
             IM: <%= @data[0][21]  %><br>
     </td>
      
    </tr>
  </table>
 
  <table  style="position: absolute;top: 565px;left: 25%;">
    <tr>
      <th>Tipo de caso</th>
       <th>Agrupaciones</th>
    </tr>
    <tr>
      <td><%= @data[0][22]%></td>
       <td><%= @data[0][23]%><br>
            Especificacion: <%= @data[0][24]%></td>
    </tr>
  </table>
  <% end %>
      <table style="position: absolute;top:635px;left: 25%;">
    <tr>
      <th>Condiciones</th>
      <th>Visualizacion del caso - Campos</th>
    </tr>
    <tr>
      <td><%= @data[0][11] %></td>
      <td><%= @data[0][26] %></td>
      
    </tr>
    </table>
    <table style="position: absolute;top:685px;left: 25%" >
      <tr>
        <th>
          Comentarios 
        </th>
        <th>
          Complejidad
        </th>
      </tr>
      <tr>
        <td>
          <%= @data[0][27] %>
        </td>
        <td>
          <%= @data[0][29] %>
        </td>
      </tr>
    </table>
   <%= form_for :clientes, :html => { :style => 'position:absolute;top:720px;left:25%' },:url => { :controller => "welcome", :action => "cambiar_estatus"} do |f| %>
   <br>Cambiar estatus a: <br><%= f.text_area :estatus,  :value => @data[0][5] %>
   <%= hidden_field_tag :ident, @data[0][0] %>
  <%= f.submit "Cambiar" %>
<% end %> 
   <%= form_for :clientes, :html => { :style => 'position:absolute;top:800px;left:25%' },:url => { :controller => "welcome", :action => "guardar_cons"} do |f| %>
   <br>Agregar comentario<br><%= f.text_area :comment_admin,  :value => @data[0][28], :rows => "5" , :cols => "80"%><br>
   <%= hidden_field_tag :ident, @data[0][0] %>
  <%= f.submit "enviar_comentario" %>
<% end %>
   
  <%= form_for :clientes, :html => { :style => 'position:absolute;top:960px;left: 25%;' },:url => { :controller => "welcome", :action => "consultor"} do |f| %>
  <%= f.submit "Volver"  %>
  <% end %>   
 
</body>
</html>