<!DOCTYPE html>
<html>
<head>
	<title>Portal BI</title>
	<style>
	    html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   
   width: 100%;
   height: 100%;
}
table{
   border-collapse: collapse;
   empty-cells: show;
}
th {
   background-color: #167F92;
   color: white;
   border: 1px solid black;
   width: 50%;
}
td {
   text-align: center;
   border: 1px solid black;
}


	</style>
</head>
<body style="background-color: white;">
<%= image_tag("/logo_tel.png", :style => "position: absolute;top: 0px;left: 0px;width: 100%;height: 160px;") %>
<%= image_tag("/company_logo.png", :style => "position: absolute;top: 50px;left: 15%;width: 15%;") %>
<div style="position: absolute; top: 160px;width: 100%;height: 20px; background-color : black"></div>

<%= form_for :clientes, :html => { :style => 'position:absolute;right:0px;' }, :url => { :controller => "welcome", :action => "mineria"} do |f| %>
  <%= f.submit "Cerrar Sesion" , :class => "button" %>
<% end %>
<p style="position: absolute;top: 180px;left: 25%;font-size: 1.3em;"><b>Detalles del caso</b></p>

<% @data.each do |data| %> 
  <table style="position: absolute;top: 230px;left: 25%;width: 45%; "> 
  <tr><td style="border: none;border-collapse:collapse;">
  <table style="width: 100%;table-layout:fixed">
      <tr>
         <th>Datos del caso</th>
         <th>Indicadores</th> 
      </tr>
      <tr>
         <td style="word-wrap:break-word;">Titulo del Requerimiento: <%= @data[0][25]  %><br>
             Fecha creación: <%= @data[0][3]  %><br>
             Fecha asignación: <%= @data[0][33]  %><br>
             Fecha requerida: <%= @data[0][4]  %><br>
             Estatus: <%= @data[0][5]  %><br>
             Tipo de archivo: <%= @data[0][13]  %><br>
             Modo de separacion: por <%= @data[0][31] %><br>
             <%= link_to "Documento", :controller => "welcome", :action => "download" %>
         </td>
         <td>Periodo: <%= @data[0][10]  %><br>
             Parque: <%= @data[0][6]  %><br>
             Altas: <%= @data[0][7]  %><br>
             ARPU: <%= @data[0][8]  %><br>
             Recargas: <%= @data[0][9]  %><br>
             Act_tabla: <%= @data[0][14]  %><br>
             TLV: <%= @data[0][15]  %>
         </td>
      </tr>
  </table>
  </td></tr>
  <tr><td style="border: none;border-collapse:collapse;">
  <table style="width: 100%;">
    <tr>
      <th>Filtros</th>
      <th>Linea de negocio</th>
    </tr>
    <tr>
     <td>Smartphone/No Smartphone : <%= @data[0][16]%><br>Prepago/Postpago: <%= @data[0][17]%><br>Otro: <%= @data[0][30] %></td>
     <td>
             Movil: <%= @data[0][18]  %><br>
             TV: <%= @data[0][19]  %><br>
             Fijo: <%= @data[0][20]  %><br>
             IM: <%= @data[0][21]  %><br>
     </td>
      
    </tr>
  </table>
 </td></tr>
 <tr><td style="border: none;border-collapse:collapse;">
  <table style="width: 100%;">
    <tr>
      <th>Tipo de caso</th>
       <th>Agrupaciones</th>
    </tr>
    <tr>
      <td><%= @data[0][22]%></td>
       <td><%= @data[0][23]%><br>
            Especificacion: <%= @data[0][24]%></td>
    </tr>
  </table>
  </td></tr>
  <tr><td style="border: none;border-collapse:collapse;">
      <table style="width: 100%;table-layout:fixed">
		<tr>
			<th>Condiciones</th>
      <th>Visualizacion del caso - Campos</th>
		</tr>
		<tr>
			<td style="word-wrap:break-word"><%= @data[0][11] %></td>
      <td><%= @data[0][26] %></td>
			
		</tr>
	  </table>
    </td></tr>
    <tr><td style="border: none;border-collapse:collapse;">
    </td></tr>
    <tr><td style="border: none;border-collapse:collapse;">
    <table style="width: 100%;">
      <tr>
        <th>
          Complejidad
        </th>
        <th>
          Estatus
        </th>
      </tr>
      <tr>
        <td>
          <%= @data[0][29] %>
        </td>
        <td>
          <%= @data[0][5] %>
        </td>
      </tr>
    </table>
    </td></tr>
    <tr><td style="border: none;border-collapse:collapse;">
   
</td></tr>
<% end %>
<% if @data[0][5] != "Cerrado" %>
<tr><td style="border: none;border-collapse:collapse;">
<%= form_for :clientes,:url => { :controller => "welcome", :action => "asig_comp"} do |f| %>
<%= hidden_field_tag :titulo, @data[0][25] %>
<%= hidden_field_tag :ident, @data[0][0] %>
Asignar complejidad<br><%= f.select :comp, ['Bajo', 'Medio','Alto','URGENTE'] %><br><br>
<%= f.submit "Asignar complejidad"  %>

 <% end %> 
 </td></tr> 
<% else %>
<tr><td style="border: none;border-collapse:collapse;">
  <%= form_for :clientes,:url => { :controller => "welcome", :action => "asig_comp"} do |f| %>
<%= hidden_field_tag :titulo, @data[0][25] %>
<%= hidden_field_tag :ident, @data[0][0] %>
<%= hidden_field_tag :comp, 'no' %><br><br>
<%= f.submit "Reabrir caso"  %>
<% end %>
</td></tr>
  
 
 <% end %>
 <tr><td style="border: none;border-collapse:collapse;">
 
<%= form_for :clientes, :url => { :controller => "welcome", :action => "cerrar_caso"} do |f| %>
    <%= hidden_field_tag :ident, @data[0][0] %>
  <br><%= f.submit "Cerrar Caso" , :disabled => @disabled %><%= @cerrado_error %>
 <% end %>
 </td></tr>
 <tr><td style="border: none;border-collapse:collapse;">
  <%= form_for :clientes,:url => { :controller => "welcome", :action => "admin_casos"} do |f| %>
  <%= hidden_field_tag :ident, @data[0][0] %>
  <br><%= f.submit "Volver"  %>
  <% end %>
  </td></tr>
  
  </table>
  <table style="position: absolute; top: 230px; left: 72%; width: 25%;table-layout:fixed">
      <tr>
        <th>
          Comentarios 
        </th>
      </tr>
      
        
          <% @comments.each do |com|  %>
          <tr>
          <% if com[1] == "Administrador" %>
          <td style="word-wrap:break-word;">
          <% else %>
          <td style="word-wrap:break-word;background-color: #D3D3D3;">
          <% end %>
          <%= com[1] %> - <%= com[2] %><br>
          <%= com[0] %>
          </td>
          </tr>
          <% end %>
        
      
      <tr>
        <td style="border: none;border-collapse:collapse;">
          <%= form_for :clientes,:url => { :controller => "welcome", :action => "guardar_admin"} do |f| %>
   <br>Agregar comentario<br><%= f.text_area :comment_admin, :value => @data[0][27], :rows => "5" , :cols => "40"%><br>
   <%= hidden_field_tag :ident, @data[0][0] %>
  <%= f.submit "Enviar_comentario" %>
<% end %>
        </td>
      </tr>
    </table>
 <div style="position: absolute;top: 180px;width: 270px;height: 1100px;"><img style="height: 100%;width: 100%;" src="/login_cuadro.png" ></div>
</body>
</html>